.settings
webServer.depend
webServer.layout
config/*.*
bin/*
obj/*
rom/*
.vs
Release
Debug
demo/*
.DS_Store
.vscode/**
ps-exe/gcc/**
ps-exe/*.bin
ps-exe/*.o
ps-exe/*.cue
deps/*/**
ps-exe/psx-hardware-tests-master

*.dll
*.db
*.lnk
*.lib
*.obj

*.exp
*.pdb
*.idb
*.pch
*.dep
*.manifest
*.sdf
*.log
*.tlog