[submodule "deps/libADSR"]
	path = deps/libADSR
	url = https://github.com/kylophone/libADSR
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/rtaudio"]
	path = deps/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "deps/r8brain"]
	path = deps/r8brain
	url = https://github.com/avaneev/r8brain-free-src.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
	
[submodule "deps/libcdio"]
	path = deps/libcdio
	url = https://github.com/ShiftMediaProject/libcdio.git
